@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

:root {
  font-family: 'Akaya Telivigala', sans-serif;  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #D1D1FF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-image: radial-gradient(#464891 7%, transparent 7%), radial-gradient(#ECECFF 7%, transparent 7%);
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
  width: 100%;
  height: 800px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  background-color: rgba(0, 0, 0, 0.03);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.officers-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.officer-card {
  padding: 1rem;
  max-width: 200px;
  text-align: center;
  border-radius: 10px;
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.officer-card h2 {
  margin-bottom: 0;
  margin-top: 0.5rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.officer-title {
  margin-top: 0.1rem; 
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
}

.officer-photo {
  width: 100%;
  border-radius: 50%;
  border: 12px solid #4D11A7;
}

.officers-header {
  background-color: #ECECFF;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  box-sizing: border-box;
  
  background-image: radial-gradient(#464891 7%, transparent 7%), radial-gradient(#D1D1FF 7%, transparent 7%);
  background-position: 0 0, 25px 25px;
  background-size: 75px 75px;

}

.officers-header h2, h4{
  color: black;
}